{% extends "./layout/default.html"%}

{% block title%}文章详情{% endblock %}
{% block style%}
<link rel="stylesheet" href="../css/details.css">
{% endblock %}


{% block main%}
<div class="page-group">
    <div class="page page-current" id='page1'>
        <div class="content details details-article">

            <!--<div class="tools">
                <a class="btn back" href="#"><i class="fa fa-long-arrow-left"></i></a>
            </div>-->


            <div class="board">
                <h2 class="Title"></h2>
                <div class="time"></div>
                <div class="text"></div>
                <!--<p class="clickme">想看片? <span>点我点我</span></p>-->
                <div class="other" id="SUBSCRIBE">
                    <img class="code" src="../images/code.jpg" alt="">
                    <div class="infobox">
                        <p class="p1">扫描二维码关注</p>
                        <p class="p2">海量影片，高清资源</p>
                        <p class="p3">更多精彩内容请关注后进入</p>
                        <p class="p3">“影视分销公众号”</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../js/artDetails.js"></script>
{% endblock %}