{% extends "./layout/default.html"%}

{% block title%}发现{% endblock %}
{% block style%}
<link rel="stylesheet" href="../css/find.css">
{% endblock %}



{% block main %}
<div class="page-group">

    <div class="page page-current" id='index-default'>
        <div class="content infinite-scroll infinite-scroll-bottom">
            <div class="select-tools">
                <div class="select-switch"><span><b>排序</b><i class="fa fa-sort-desc"></i></span></div>
                <div class="select-switch"><span><b>类型</b><i class="fa fa-sort-desc"></i></span></div>
                <div class="select-switch"><span><b>fun类</b><i class="fa fa-sort-desc"></i></span></div>
            </div>
            <div class="find-content">
                
            </div>
        </div>
        <!--{{find}}{%set find = "active"%}{{find}}-->
        {% include "./layout/navbar.html"%}
    </div>


</div>



{% endblock %}

{% block script %}
<script src="../js/find.js"></script>
{% endblock %}
