{% extends "./layout/default.html"%}

{% block title%}剧情更新{% endblock %}
{% block style%}
<link rel="stylesheet" href="../css/find.css">
{% endblock %}



{% block main %}
<div class="page-group">

    <div class="page page-current" id='index-default'>
        <div class="content headerTool infinite-scroll infinite-scroll-bottom" style="top:0;bottom:0">
            <div class="find-content" style="padding-top: 0;">
                <!--list-->
            </div>
        </div>
    </div>



</div>



{% endblock %}

{% block script %}
<script src="../js/updateList.js"></script>
{% endblock %}
