.message-contanier {
    $deleteWidth: rem(80px);
    font-size: rem(12px);
    bottom: 0;
    top: 0;
    background: #eee url('../images/empty_message.png') no-repeat center;
    background-size: rem(128px);
    .empty {
        width: rem(121px);
        height: rem(168px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 0;
    }
    ul{
        position: absolute;
        display: block;
        top: 2.2rem;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: #eee;
        overflow: auto;
    }
    .messageList {
        background: white;
        overflow: hidden;
        width: 100%;
        & .message{
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: rem(16px);
                right: 0;
                height: 1px;
                background: #ddd;
            }
        }
        &:last-of-type {
            border-bottom: $ui-border;
            & .message{
                &:after {
                    display: none;
                }
            }
        }
    }
    .message {
        display: block;
        padding: rem(16px);
        position: relative;
        transition: .3s;
        &.showDelete {
            transform: translate3d(-$deleteWidth, 0, 0);
        }
        p {
            margin: 0;
        }
        .Title {
            margin-bottom: 8px;
        }
        .name {
            color: $ui-color-dark1;
            font-size: rem(14px);
        }
        .day {
            color: $ui-color-dark3;
        }
        .details {
            color: $ui-color-dark2;
            @include text-clamp(2);
        }
        .delete {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: $deleteWidth;
            background: $ui-color-red;
            color: white;
            font-size: rem(14px);
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate3d(100%, 0, 0);
            &:after {
                content: '删除';
            }
        }
    }
}